.andrii-table-header--item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.andrii-table-body--1item{
  text-align: left;
  margin-left: 20px;
}

.andrii-table-box-header{
  background-color: #016193;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  border: 0px solid #016193;
}
.andrii-table-box-header--title{
  color: #f8f1e7;
  margin-bottom: 0px;
}
.andrii-table-box-header--text{
  color: #f8f1e7;
}

.andrii-table-header{
  font-weight: bold;
  background: #6e9ab9;
  color: #f8f1e7;
  display: grid;
  text-align: center;
  font-size: 13px;
  min-height: 38px;
}
.andrii-table-total{
  font-weight: bold;
}

.andrii-table-br{
  border-right: 1px solid black;
}
.andrii-table-bt{
  border-top: 1px solid black;
}
.andrii-table-bb{
  border-bottom: 1px solid black;
}

.andrii-table-box{
  border-radius: 5px;
  /* border: 1px solid black;  */
  background-color: #f8f1e7;
}
.andrii-table-box--body{
  /* padding: 10px; */
  padding-bottom: 15px;
}
.andrii-table{
  /* border: 1px solid black; */
}
.andrii-table-body {
  display: grid;
  text-align: center;
  font-size: 13px;
}
