.eas-taxes-end-sales--main{
  margin: 0;
  /* font-family: "Roboto","Helvetica","Arial",sans-serif; */
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  margin-bottom: 100px;

  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: repeat(4, auto-fit);
  grid-gap: 1rem;
  grid-auto-flow: row dense;
}
.box{
  background: #f8f1e7;
}
.button-block{
  background: #f8f1e7;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(4, auto-fit);
  grid-gap: 2px 2px;
  margin-bottom: 2px;
  /* grid-auto-flow: row dense; */
}
.button{
  background: #6d9ab9;
  color: #f8f1e7;
  height: 40px;
  border: 0;
}
.button.active{
  background: #95be47;
}
.total{
  background-color: #016193;
  color: #f8f1e7;
  padding: 10px;
  font-size: 18px;
}
.result{
  padding: 40px;
  font-size: 28px;
  font-weight: 600;
}
.result p{
  margin-bottom: .5em;
}
.tag{
  color: rgb(227 227 227);
  background: #6d9ab9;
  padding: 5px 12px 7px 12px;
  font-size: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  vertical-align: text-top;
}